@font-face {
    font-family: Counter;
    src: url(../resources/tipografia/CounterStreamDemoRegular.ttf);
}

@font-face {
    font-family: Cronus;
    src: url(../resources/tipografia/Cronus\ Round.otf);
}

@font-face {
    font-family: Queen;
    src: url(../resources/tipografia/Queen\ of\ Camelot\ 2.0\ demo.otf);
}


* {
    margin: 0;
    padding: 0;
}

p {
    color: white;
    font-family: Cronus;

}

/*nav*/

/* pisar bs */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-brand img {
    height: 50px;
}

.navbar .container-fluid {
    background-color: #0ad803;
}

.container-fluid a {
    text-decoration: none;
    color: white;
    font-family: Queen;
}

.buscador {
    color: white;
}

.margen-bar {
    padding: 0;
}




/* footer */

footer {
    height: 150px;
    background-color: #00B4D8;
}

footer ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
}

footer p {
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    font-family: Queen;
}

footer a {
    text-decoration: none;
    font-size: 15px;
}

footer img{
    width: 50px;
    border-radius: 50%;
}

/* main index*/

h1 {
    font-family: Counter;
    font-size: 6rem;
    color: #efb810;
    display: inline-block;
    border-radius: 20%;
    margin-top: 25px;
    text-align: center;
    position: absolute;
}

h2 {
    font-size: 30px;
    color: white;
    margin: 20px 10px 40px 10px;
    font-family: Counter;
    text-align: center;
}

h3 {

    color: white;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: Queen;
    font-size: 30px;
}

h4 {
    display: block;
    text-align: center;
    font-family: Queen;
}

/* todo al centro */
.ancho-novedades {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.imagen-principal video {
    height: 500px;
    position: static;
}

/* fondo todo */
.pagina-uno {
    background-color: black;
}

/* seccion novedades */



.noticias-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 3fr 3fr 1fr;
    grid-template-areas:
        "not-uno not-dos aside-uno"
        "not-tres not-cuatro aside-uno"
        "not-cinco not-seis aside-uno"

}



.noticia-uno {
    grid-area: not-uno;
    margin: 20px;
    position: static
}

.noticia-dos {
    grid-area: not-dos;
    margin: 20px;
    position: static
}

.noticia-tres {
    grid-area: not-tres;
    margin: 20px;
    position: static
}

.noticia-cuatro {
    grid-area: not-cuatro;
    margin: 20px;
    position: static
}

.noticia-cinco {
    grid-area: not-cinco;
    margin: 20px;
    position: static
}

.noticia-seis {
    grid-area: not-seis;
    margin: 20px;
    position: static
}

/* aside */

.proximos-lanzamientos {
    grid-area: aside-uno;
    background-color: gray;
    border-radius: 3%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
    text-align: center;
}

.proximos-lanzamientos img {
    width: 100px;

}

.proximos-lanzamientos div {
    margin: 0 10px;
}

.card {
    background-color: black;
}

/* reviews */
.descripcion {
    width: 60%;
    margin-top: 10px;
}

.titular {
    font-family: Cronus;
    font-size: 30px
}

.analisis img {
    margin-top: 25px;
}

.analisis {
    padding-bottom: 60px;
    margin-top: 50px;
}

/* contacto */

.pagina-contacto {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.carrusel-contacto{
    width: 70%;
}


.formulario{
    width: 50%;
    margin-bottom: 20px;
}

.mb-3{
    margin-top: 20px;
}






/* nosotros */


.nosotros img {
    width: 300px;
    height: 200px;
}

.nosotros p {
    margin: 20px 0px 30px 0px;
    width: 75%;
}

/* esports */

.youtube-potg {
    width: 60%;
    margin-bottom: 30px;
}

h4 {
    font-size: 20px;
    color: white;
    margin: 15px 0px 15px 0px;
}

.fases p {
    display: inline;
}

.torneos div {
    margin-top: 35px;
    margin-bottom: 20px;
}

.logo-torneo img {
    width: 250px;
    height: 300px;
}

.fases img {
    width: 50px;
    height: 50px;
}

/* galeria */


.galeria {
    background-color: black;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   padding: 0 10px;
}



.imagen-principal-galeria{
    width: 70%;
}

.imagen-principal-galeria img{
    width: 100%;
}

/* ajusto imagenes del carrusel */

.carrousel-galeria{
width: 700px;
margin-bottom: 20px;
}

.fotos-galeria img{
        height: 500px;
}








@media (max-width: 1200px) {


    /* index video*/

    .imagen-principal video {
        width: 95%;
    }
 
    /* index grid noticias */

    .noticias-container {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 2fr 2fr;
        grid-template-areas:
            "not-uno not-dos"
            "not-tres not-cuatro"
            "not-cinco not-seis"
            "aside-uno aside-uno"
    }

    .proximos-lanzamientos-titulo {
        display: block;
        width: 100%;
    }

    .proximos-lanzamientos {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .fotos-galeria img{
        height: 400px;
}
.carrousel-galeria{
    width: 500px;
}
}

@media (max-width: 1030px) {


    h1{
        font-size: 4rem;
        top: 60px;
    }
    /* index grid noticias */

    .noticias-container {
        display: grid;
        grid-template-rows: 3fr 3fr 3fr 3fr 3fr 3fr;
        grid-template-columns: 4fr 1fr;
        grid-template-areas:
            "not-uno aside-uno"
            "not-dos aside-uno"
            "not-tres aside-uno"
            "not-cuatro aside-uno"
            "not-cinco ."
            "not-seis ."
    }

    .proximos-lanzamientos {
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
    }
.formulario{
    width: 75%;
}


}

@media (max-width: 770px) {

    h1{
        font-size: 3rem;
        top: 90px;
    }
    /* index video*/

    .imagen-principal {
        height: 320px;
    }

    /* index grid noticias */

    .noticias-container {
        display: grid;
        grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "not-uno"
            "not-dos"
            "not-tres"
            "not-cuatro"
            "not-cinco "
            "not-seis "
            "aside-uno"
    }

    .proximos-lanzamientos-titulo {
        display: block;
        width: 100%;
    }

    .proximos-lanzamientos {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: first baseline;
        flex-wrap: wrap;
    }

    .fotos-galeria img{
        height: 200px;
}
.carrousel-galeria{
    width: 300px;
}
}

@media (max-width: 675px) {

    /* index grid noticias */

    .noticias-container {        
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
        
    }

    .proximos-lanzamientos {
        height: 600px;
        flex-direction: column;
        align-items: center;
    }

    footer img{
        width: 30px;
        
    }

}

@media (max-width: 426px) {

    h1{
        font-size: 2rem;
        top: 40px;
    }

    h2{
        font-size: 1.5rem;
    }
    /* index */

    .imagen-principal {
        height: 180px;
    }
}