@font-face {
  font-family: galdeano;
  src: url(../../resources/tipografia/galdeano.regular.ttf); }

@font-face {
  font-family: Queen;
  src: url(../resources/tipografia/queen-of-camelot-2-0.regular.otf); }

@font-face {
  font-family: Counter;
  src: url(../resources/tipografia/CounterStreamDemoRegular.ttf); }

* {
  margin: 0;
  padding: 0; }

h1 {
  font-family: Counter;
  font-size: 6rem;
  color: #efb810;
  top: 25px;
  text-align: center;
  position: absolute; }

h2 {
  font-size: 30px;
  color: white;
  margin: 40px 10px 20px 10px;
  font-family: Counter;
  text-align: center; }

h3 {
  color: white;
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: Queen;
  font-size: 30px; }

h4 {
  display: block;
  text-align: center;
  font-family: Queen;
  font-size: 20px;
  color: white;
  margin: 15px 0px 15px 0px; }

p {
  color: white;
  font-family: galdeano;
  font-size: 1.2rem; }

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0; }
  .navbar .container-fluid {
    background-image: linear-gradient(-90deg, gray, #121277); }
    .navbar .container-fluid a img {
      height: 50px; }
    .navbar .container-fluid div a {
      font-family: Queen;
      color: white; }

footer {
  height: 150px;
  background-image: linear-gradient(90deg, gray, #121277); }
  footer p {
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    font-family: Queen; }
  footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0; }
    footer ul img {
      width: 50px;
      border-radius: 50%; }

@media (max-width: 675px) {
  footer ul img {
    width: 30px; } }

.card {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  margin: 20px; }

.main-index .pagina-uno {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(180deg, black, #7c0f0f, black, #7c0f0f, black); }
  .main-index .pagina-uno .imagen-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
    .main-index .pagina-uno .imagen-principal video {
      height: 500px; }
  .main-index .pagina-uno .novedades .novedades-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 3fr 3fr 1fr;
    grid-template-areas: "not-uno not-dos aside-uno" "not-tres not-cuatro aside-uno" "not-cinco not-seis aside-uno"; }
    .main-index .pagina-uno .novedades .novedades-container .noticia-uno {
      grid-area: not-uno; }
    .main-index .pagina-uno .novedades .novedades-container .noticia-dos {
      grid-area: not-dos; }
    .main-index .pagina-uno .novedades .novedades-container .noticia-tres {
      grid-area: not-tres; }
    .main-index .pagina-uno .novedades .novedades-container .noticia-cuatro {
      grid-area: not-cuatro; }
    .main-index .pagina-uno .novedades .novedades-container .noticia-cinco {
      grid-area: not-cinco; }
    .main-index .pagina-uno .novedades .novedades-container .noticia-seis {
      grid-area: not-seis; }
    .main-index .pagina-uno .novedades .novedades-container .proximos-lanzamientos {
      grid-area: aside-uno;
      background-image: linear-gradient(135deg, gray, black, gray);
      border-radius: 10px;
      margin: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 0 5px;
      text-align: center;
      color: white; }
      .main-index .pagina-uno .novedades .novedades-container .proximos-lanzamientos img {
        width: 100px; }
      .main-index .pagina-uno .novedades .novedades-container .proximos-lanzamientos div {
        margin: 0 10px; }
  .main-index .pagina-uno .analisis {
    padding-bottom: 60px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-index .pagina-uno .analisis .descripcion {
      width: 60%;
      margin-top: 10px; }
    .main-index .pagina-uno .analisis .calificacion {
      color: white; }

@media (max-width: 1200px) {
  .main-index .pagina-uno .imagen-principal video {
    width: 100%;
    height: auto; }
  .main-index .pagina-uno .novedades .novedades-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: "not-uno not-dos" "not-tres not-cuatro" "not-cinco not-seis" "aside-uno aside-uno"; }
    .main-index .pagina-uno .novedades .novedades-container .proximos-lanzamientos {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap; }
      .main-index .pagina-uno .novedades .novedades-container .proximos-lanzamientos .proximos-lanzamientos-titulo {
        display: block;
        width: 100%; }
      .main-index .pagina-uno .novedades .novedades-container .proximos-lanzamientos img {
        width: 100px; }
      .main-index .pagina-uno .novedades .novedades-container .proximos-lanzamientos div {
        margin: 0 10px; } }

@media (max-width: 1030px) {
  .main-index .pagina-uno .imagen-principal h1 {
    font-size: 4rem;
    top: 60px; }
  .main-index .pagina-uno .novedades .novedades-container {
    display: grid;
    grid-template-rows: 3fr 3fr 3fr 3fr 3fr 3fr;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "not-uno aside-uno" "not-dos aside-uno" "not-tres aside-uno" "not-cuatro aside-uno" "not-cinco ." "not-seis ."; }
  .main-index .pagina-uno .novedades .proximos-lanzamientos {
    flex-direction: column;
    justify-content: space-around; } }

@media (max-width: 770px) {
  .main-index .pagina-uno .imagen-principal h1 {
    font-size: 3rem;
    top: 0px; }
  .main-index .pagina-uno .novedades .novedades-container {
    display: grid;
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "not-uno" "not-dos" "not-tres" "not-cuatro" "not-cinco " "not-seis " "aside-uno"; }
    .main-index .pagina-uno .novedades .novedades-container .proximos-lanzamientos {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: baseline;
      flex-wrap: wrap; } }

@media (max-width: 675px) {
  .main-index .pagina-uno .novedades .novedades-container {
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr 3fr; }
    .main-index .pagina-uno .novedades .novedades-container .proximos-lanzamientos {
      height: 600px;
      flex-direction: column;
      align-items: center; }
  .main-index .pagina-uno .analisis .descripcion {
    width: 90%; } }

@media (max-width: 426px) {
  .main-index .pagina-uno .novedades .novedades-container {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 2fr; }
    .main-index .pagina-uno .novedades .novedades-container .proximos-lanzamientos {
      height: 700px; } }

.main-esports {
  background-image: linear-gradient(180deg, black, #7c0f0f, black);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 30px; }
  .main-esports .imagen-principal img {
    width: 60%;
    height: auto; }
  .main-esports .potg .jugadas-container-shooter {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "uno dos tres";
    background-image: linear-gradient(135deg, #530ec2, black, #4304a7);
    border-radius: 10px; }
    .main-esports .potg .jugadas-container-shooter .video-uno {
      grid-area: uno;
      margin: 10px; }
      .main-esports .potg .jugadas-container-shooter .video-uno iframe {
        width: 375px;
        height: 225px; }
    .main-esports .potg .jugadas-container-shooter .video-dos {
      grid-area: dos;
      margin: 10px; }
      .main-esports .potg .jugadas-container-shooter .video-dos iframe {
        width: 375px;
        height: 225px; }
    .main-esports .potg .jugadas-container-shooter .video-tres {
      grid-area: tres;
      margin: 10px; }
      .main-esports .potg .jugadas-container-shooter .video-tres iframe {
        width: 375px;
        height: 225px; }
  .main-esports .potg .jugadas-container-moba {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "uno dos tres";
    background-image: linear-gradient(135deg, #530ec2, black, #4304a7);
    border-radius: 10px; }
    .main-esports .potg .jugadas-container-moba .video-uno {
      grid-area: uno;
      margin: 10px; }
      .main-esports .potg .jugadas-container-moba .video-uno iframe {
        width: 375px;
        height: 225px; }
    .main-esports .potg .jugadas-container-moba .video-dos {
      grid-area: dos;
      margin: 10px; }
      .main-esports .potg .jugadas-container-moba .video-dos iframe {
        width: 375px;
        height: 225px; }
    .main-esports .potg .jugadas-container-moba .video-tres {
      grid-area: tres;
      margin: 10px; }
      .main-esports .potg .jugadas-container-moba .video-tres iframe {
        width: 375px;
        height: 225px; }
  .main-esports .potg .jugadas-container-fighting {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "uno dos tres";
    background-image: linear-gradient(135deg, #530ec2, black, #4304a7);
    border-radius: 10px; }
    .main-esports .potg .jugadas-container-fighting .video-uno {
      grid-area: uno;
      margin: 10px; }
      .main-esports .potg .jugadas-container-fighting .video-uno iframe {
        width: 375px;
        height: 225px; }
    .main-esports .potg .jugadas-container-fighting .video-dos {
      grid-area: dos;
      margin: 10px; }
      .main-esports .potg .jugadas-container-fighting .video-dos iframe {
        width: 375px;
        height: 225px; }
    .main-esports .potg .jugadas-container-fighting .video-tres {
      grid-area: tres;
      margin: 10px; }
      .main-esports .potg .jugadas-container-fighting .video-tres iframe {
        width: 375px;
        height: 225px; }
  .main-esports .torneos .accordion {
    width: 700px; }
    .main-esports .torneos .accordion .accordion-item h2 {
      margin: 20px 0 0 0; }
      .main-esports .torneos .accordion .accordion-item h2 button {
        background-image: linear-gradient(90deg, gray, white, gray);
        text-align: center; }
        .main-esports .torneos .accordion .accordion-item h2 button img {
          height: 50px;
          width: 50px;
          margin-right: 10px; }
        .main-esports .torneos .accordion .accordion-item h2 button .torneo-acordion-nombre {
          color: black;
          text-align: center;
          font-size: 2rem;
          margin: 0 50px;
          font-family: Queen; }
    .main-esports .torneos .accordion .accordion-item .accordion-body {
      padding: 0 20px;
      /* clases equipos del lado izquierdo */
      /* clases equipos del lado derecho */ }
      .main-esports .torneos .accordion .accordion-item .accordion-body .container-torneo-uno {
        display: grid;
        grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 3fr 1fr 3fr;
        grid-template-areas: "fase fase fase" "team-uno . team-cinco" "team-dos versus team-seis" "team-tres versus team-siete" "team-cuatro . team-ocho";
        background-image: linear-gradient(90deg, white, gray, white); }
      .main-esports .torneos .accordion .accordion-item .accordion-body .container-torneo-dos {
        display: grid;
        grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 3fr 1fr 3fr;
        grid-template-areas: "fase fase fase" "team-uno . team-cinco" ". versus ." ". versus ." "team-cuatro . team-ocho";
        background-image: linear-gradient(90deg, white, gray, white); }
      .main-esports .torneos .accordion .accordion-item .accordion-body p {
        color: black; }
      .main-esports .torneos .accordion .accordion-item .accordion-body img {
        width: 50px;
        margin: 5px; }
      .main-esports .torneos .accordion .accordion-item .accordion-body .acordion-grilla-fase {
        grid-area: fase; }
        .main-esports .torneos .accordion .accordion-item .accordion-body .acordion-grilla-fase p {
          padding-top: 15px;
          font-family: Queen;
          color: black; }
      .main-esports .torneos .accordion .accordion-item .accordion-body .grilla-nombre-uno {
        grid-area: team-uno; }
      .main-esports .torneos .accordion .accordion-item .accordion-body .grilla-nombre-dos {
        grid-area: team-dos; }
      .main-esports .torneos .accordion .accordion-item .accordion-body .grilla-nombre-tres {
        grid-area: team-tres; }
      .main-esports .torneos .accordion .accordion-item .accordion-body .grilla-nombre-cuatro {
        grid-area: team-cuatro; }
      .main-esports .torneos .accordion .accordion-item .accordion-body .grilla-vs {
        grid-area: versus;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .main-esports .torneos .accordion .accordion-item .accordion-body .grilla-vs p {
          font-size: 3rem; }
      .main-esports .torneos .accordion .accordion-item .accordion-body .grilla-nombre-cinco {
        grid-area: team-cinco; }
      .main-esports .torneos .accordion .accordion-item .accordion-body .grilla-nombre-seis {
        grid-area: team-seis; }
      .main-esports .torneos .accordion .accordion-item .accordion-body .grilla-nombre-siete {
        grid-area: team-siete; }
      .main-esports .torneos .accordion .accordion-item .accordion-body .grilla-nombre-ocho {
        grid-area: team-ocho; }
      .main-esports .torneos .accordion .accordion-item .accordion-body .izquierdo {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin: 5px 0; }
      .main-esports .torneos .accordion .accordion-item .accordion-body .derecho {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        margin: 5px 0; }

.main-galeria {
  background-image: linear-gradient(180deg, black, #7c0f0f, black);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .main-galeria p {
    padding: 0 10px; }
  .main-galeria img {
    width: 60%;
    height: auto; }
  .main-galeria .carrousel-galeria {
    width: 700px;
    margin-bottom: 20px; }
    .main-galeria .carrousel-galeria img {
      height: 500px; }

.main-nosotros {
  background-image: linear-gradient(180deg, black, #7c0f0f, black);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 30px; }
  .main-nosotros .imagen-principal {
    width: 60%; }
  .main-nosotros h3 {
    font-size: 2rem;
    padding-top: 30px; }
  .main-nosotros div img {
    width: 300px;
    height: auto;
    display: inline;
    margin: 15px; }
  .main-nosotros p {
    margin: 20px 0px 30px 0px;
    width: 75%; }
  .main-nosotros iframe {
    width: 400px;
    height: 300px; }

@media (max-width: 1200px) {
  .main-nosotros .imagen-principal {
    width: 90%; } }

@media (max-width: 675px) {
  .main-nosotros .imagen-principal {
    width: 100%; } }

@media (max-width: 426px) {
  .main-nosotros iframe {
    width: 85%;
    height: auto; } }

.main-contacto {
  background-image: linear-gradient(180deg, black, #7c0f0f, black);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .main-contacto .carrusel-contacto {
    width: 60%; }
  .main-contacto .formulario {
    width: 50%;
    margin-bottom: 20px; }
    .main-contacto .formulario .mb-3 {
      margin-top: 20px; }
      .main-contacto .formulario .mb-3 .form-text {
        color: white;
        font-family: galdeano; }
      .main-contacto .formulario .mb-3 .form-label {
        font-size: 1.2rem; }
