footer {
    height: 150px;
    background-image: linear-gradient(90deg, gray, rgb(18, 18, 119));

    p {
        text-align: center;
        padding-top: 20px;
        font-size: 25px;
        font-family: $fuente-subtitulo;
    }

    ul {

        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 0;

        img {
            width: 50px;
            border-radius: 50%;
        }
    }
}