.main-contacto {
    background-image: linear-gradient(180deg, black, rgb(124, 15, 15), black);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .carrusel-contacto {
        width: 60%;
    }

    .formulario {

        width: 50%;
        margin-bottom: 20px;

        .mb-3 {
            margin-top: 20px;

            .form-text {
                color: white;
                font-family: $fuente-general;
            }

            .form-label {

                font-size: 1.2rem;
            }

        }
    }

}

@media (max-width: 1030px) {

    .main-contacto {
        .formulario {
            width: 75%;
        }
    }

}

@media (max-width: 675px) {

    .main-contacto {
        .carrusel-contacto {
            width: 100%;
        }
    }

}

@media (max-width: 426px) {

    .main-contacto {
        .formulario {
            width: 95%;
        }
    }

}