.main-galeria {
    background-image: linear-gradient(180deg, black, rgb(124, 15, 15), black);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    p {
        padding: 0 10px;
    }

    img {
        width: 60%;
        height: auto;
    }

    .carrousel-galeria {
        width: 700px;
        margin-bottom: 20px;

        img {
            height: 500px;
        }
    }

}