.pagina-index {
    @extend .pagina-fondo;

    .main-index {

        display: flex;
        flex-direction: column;
        align-items: center;
        // background-image: linear-gradient(180deg, black, rgb(124, 15, 15), black, rgb(124, 15, 15), black);

        // background-image: url("../resources/patron-lol.jpg");
        // background-size: 10%;

        .imagen-principal {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            video {
                height: 500px;

            }

        }

        .novedades {
            // background-color: rgba(0, 0, 0, 0.6);

            .novedades-container {
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-columns: 1fr 3fr 3fr 1fr;
                grid-template-areas:
                    ". not-uno not-dos aside-uno"
                    ". not-tres not-cuatro aside-uno"
                    ". not-cinco not-seis aside-uno";

                .noticia-uno {
                    grid-area: not-uno;
                    animation-name: escala;
                    animation-duration: 12s;
                    animation-iteration-count: infinite;
                }

                .noticia-dos {
                    grid-area: not-dos;
                    animation-name: escala;
                    animation-delay: 2s;
                    animation-duration: 12s;
                    animation-iteration-count: infinite;
                }

                .noticia-tres {
                    grid-area: not-tres;
                    animation-name: escala;
                    animation-delay: 4s;
                    animation-duration: 12s;
                    animation-iteration-count: infinite;

                }

                .noticia-cuatro {
                    grid-area: not-cuatro;
                    animation-name: escala;
                    animation-delay: 6s;
                    animation-duration: 12s;
                    animation-iteration-count: infinite;

                }

                .noticia-cinco {
                    grid-area: not-cinco;
                    animation-name: escala;
                    animation-delay: 8s;
                    animation-duration: 12s;
                    animation-iteration-count: infinite;

                }

                .noticia-seis {
                    grid-area: not-seis;
                    animation-name: escala;
                    animation-delay: 10s;
                    animation-duration: 12s;
                    animation-iteration-count: infinite;

                }

                .proximos-lanzamientos {
                    grid-area: aside-uno;
                    background-image: linear-gradient(135deg, gray, black, gray);
                    border-radius: 10px;
                    margin: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    padding: 0 5px;
                    text-align: center;
                    color: white;

                    img {
                        width: 100px;

                    }

                    div {
                        margin: 0 10px;
                    }

                }

            }
        }

        .analisis {
            width: 60%;
            display: flex;
            flex-direction: column;
            padding-bottom: 50px;

            .analisis-menu {

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;

                padding: 0 5px;
                text-align: center;

                div:not(.analisis-menu-titulo) {
                    padding: 10px;
                    border-radius: 10px;
                    background-image: linear-gradient(135deg, gray, black, gray);

                    &:hover {
                        box-shadow: 0 0 20px white;
                    }
                }

                a {
                    text-decoration: none;
                    color: white;
                }

                .analisis-menu-titulo {
                    display: block;
                    width: 100%;
                }
            }

            .analisis-descripciones {
                background-color: rgba(0, 0, 0, 0.2);
                background-size: contain;
                padding-bottom: 60px;
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .card {
                    padding-top: 60px;
                }

                .descripcion-volver {
                    text-decoration: none;
                    color: white;
                    align-self: flex-start;

                    &:hover {
                        box-shadow: 0 0 20px white;
                    }

                    border-radius: 10px;
                    background-image: linear-gradient(135deg, gray, black, gray);

                    p {
                        font-size: 1rem;
                    }
                }

                .descripcion {

                    margin-top: 10px;
                }

                .calificacion {
                    color: white;
                }
            }

        }

    }
}

@media (max-width: 1200px) {
    .pagina-index {
        .main-index {

            .imagen-principal {
                video {
                    width: 100%;
                    height: auto;
                }
            }

            .novedades {
                .novedades-container {
                    display: grid;
                    grid-template-rows: 1fr 1fr 1fr 1fr;
                    grid-template-columns: 2fr 2fr;
                    grid-template-areas:
                        "not-uno not-dos"
                        "not-tres not-cuatro"
                        "not-cinco not-seis"
                        "aside-uno aside-uno";

                    .proximos-lanzamientos {
                        flex-direction: row;
                        justify-content: space-evenly;
                        flex-wrap: wrap;

                        .proximos-lanzamientos-titulo {
                            display: block;
                            width: 100%;
                        }

                        img {
                            width: 100px;

                        }

                        div {
                            margin: 0 10px;
                        }
                    }
                }
            }

        }
    }
}

@media (max-width: 1030px) {
    .pagina-index {
        .main-index {



            .novedades {
                .novedades-container {
                    display: grid;
                    grid-template-rows: 3fr 3fr 3fr 3fr 3fr 3fr;
                    grid-template-columns: 4fr 1fr;
                    grid-template-areas:
                        "not-uno aside-uno"
                        "not-dos aside-uno"
                        "not-tres aside-uno"
                        "not-cuatro aside-uno"
                        "not-cinco ."
                        "not-seis ."

                }

                .proximos-lanzamientos {
                    flex-direction: column;
                    justify-content: space-around;
                }
            }


            .analisis {
                width: 90%;
            }

        }
    }

}

@media (max-width: 767px) {
    .pagina-index {
        .main-index {

            .novedades {
                .novedades-container {
                    display: grid;
                    grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
                    grid-template-columns: 1fr;
                    grid-template-areas:
                        "not-uno"
                        "not-dos"
                        "not-tres"
                        "not-cuatro"
                        "not-cinco "
                        "not-seis "
                        "aside-uno";

                    .proximos-lanzamientos {
                        flex-direction: row;
                        justify-content: space-evenly;
                        align-items: baseline;
                        flex-wrap: wrap;
                    }
                }
            }

        }
    }
}

@media (max-width: 675px) {
    .pagina-index {
        .main-index {

            .novedades {
                .novedades-container {
                    grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr 3fr;

                    .proximos-lanzamientos {
                        height: 600px;
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }

            .analisis {
                .descripcion {
                    width: 90%;
                }
            }

        }

    }
}

@media (max-width: 426px) {
    .pagina-index {
        .main-index {

            .novedades {
                .novedades-container {
                    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 2fr;

                    .proximos-lanzamientos {
                        height: 700px;
                    }
                }
            }

            .analisis {
                .analisis-menu {
                    flex-direction: column;

                    div {
                        margin: 10px 0;
                    }
                }
            }

        }

    }
}