h1 {    
    font-family: $fuente-titulo;
    font-size: 6rem;   
    top: 25px;
    text-align: center;
    position: absolute;
    animation-name: colorear;
            animation-duration: 1s;
            animation-iteration-count: infinite;
    
}

h2 {
    font-size: 30px;
    color: white;
    margin: 40px 10px 20px 10px;
    font-family: $fuente-titulo;
    text-align: center; 
    animation-name: grisear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    border-top-style:double;
    border-bottom-style: double;
    

}

h3 {

    color: white;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: $fuente-subtitulo;
    font-size: 30px;
}

h4 {
    display: block;
    text-align: center;
    font-family: $fuente-subtitulo;
    font-size: 20px;
    color: white;
    margin: 15px 0px 15px 0px;
}



@media (max-width: 1030px) {
    h1 {
        font-size: 4rem;
        top: 60px;
    }
}

@media (max-width: 767px) {

    h1{
        font-size: 3rem;
        top:10px
    }
}

@media (max-width: 426px) {

    h1{
        font-size: 2rem;
        
    }

    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.5rem;
    }

}