@font-face {
    font-family: galdeano;
    src: url(../../resources/tipografia/galdeano.regular.ttf);
}

@font-face {
    font-family: Queen;
    src: url(../resources/tipografia/queen-of-camelot-2-0.regular.otf);
}

@font-face {
    font-family: Counter;
    src: url(../resources/tipografia/CounterStreamDemoRegular.ttf);
}


$fuente-titulo: Counter;
$fuente-subtitulo: Queen;
$fuente-general: galdeano;