/* @font-face {
    font-family: Counter;
    src: url(../resources/tipografia/CounterStreamDemoRegular.ttf);
}

*/

/* @font-face {
    font-family: Cronus;
    src: url(../resources/tipografia/Cronus\ Round.otf);
} */



/*

@font-face {
    font-family: Queen;
    src: url(../resources/tipografia/Queen\ of\ Camelot\ 2.0\ demo.otf);
}


* {
    margin: 0;
    padding: 0;
}

p {
    color: white;
    font-family: Cronus;
    font-size: 1.2rem;
} */

/*nav*/

/* cambiando propiedad bootstrap */
/* .navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
} */

/* .navbar-brand img {
    height: 50px;
}

.navbar .container-fluid {
    background-image: linear-gradient(-90deg, gray, rgb(18, 18, 119));
} */

/* .container-fluid a {
    text-decoration: none;
    color: white;
    font-family: Queen;
} */

/* .buscador {
    color: white;
}

.margen-bar {
    padding: 0;
} */




/* footer */

/* footer {
    height: 150px;
    background-image: linear-gradient(90deg, gray, rgb(18, 18, 119));
} */

/* footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
}

footer p {
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    font-family: Queen;
}

footer a {
    text-decoration: none;
    font-size: 15px;
}

footer img {
    width: 50px;
    border-radius: 50%;
} */

/* main index*/

/* h1 {
    font-family: Counter;
    font-size: 6rem;
    color: #efb810;
    display: inline-block;
    border-radius: 20%;
    margin-top: 25px;
    text-align: center;
    position: absolute;
}

h2 {
    font-size: 30px;
    color: white;
    margin: 40px 10px 20px 10px;
    font-family: Counter;
    text-align: center;
}

h3 {

    color: white;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: Queen;
    font-size: 30px;
}

h4 {
    display: block;
    text-align: center;
    font-family: Queen;
    font-size: 20px;
    color: white;
    margin: 15px 0px 15px 0px;
} */

/* todo al centro */
/* .ancho-novedades REEMPLAZADO EN PAGINA UNO
 {

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
} */

/* .imagen-principal video {
    height: 500px;
    position: static;
} */

/* fondo index */
/* .pagina-uno {
    background-image: linear-gradient(180deg, black, rgb(124, 15, 15), black, rgb(124, 15, 15), black);

} */

/* sub seccion novedades */



/* .novedades-container {

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 3fr 3fr 1fr;
    grid-template-areas:
        "not-uno not-dos aside-uno"
        "not-tres not-cuatro aside-uno"
        "not-cinco not-seis aside-uno"

} */



/* .noticia-uno {
    grid-area: not-uno;
}

.noticia-dos {
    grid-area: not-dos;

}

.noticia-tres {
    grid-area: not-tres;

}

.noticia-cuatro {
    grid-area: not-cuatro;

}

.noticia-cinco {
    grid-area: not-cinco;

}

.noticia-seis {
    grid-area: not-seis;

} */

/* .card {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    margin: 20px;
} */

a .img-fluid:hover {
    border: 3px solid white;
}

/* aside */

/* .proximos-lanzamientos {
    grid-area: aside-uno;
    background-image: linear-gradient(135deg, gray, black, gray);
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
    text-align: center;
    color: white;
}

.proximos-lanzamientos img {
    width: 100px;

}

.proximos-lanzamientos div {
    margin: 0 10px;
} */



/* sub seccion analisis */

/* .calificacion {
    color: white;
}

.descripcion {
    width: 60%;
    margin-top: 10px;
} */


/* .analisis {
    padding-bottom: 60px;
    margin-top: 50px;
} */

/* pagina contacto */

/* .main-contacto {
    background-image: linear-gradient(180deg, black, rgb(124, 15, 15), black);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrusel-contacto {
    width: 70%;
}


.formulario {
    width: 50%;
    margin-bottom: 20px;
}

.form-text {
    color: white;
    font-family: Cronus;
}

.form-label {
    font-family: Cronus;
    font-size: 1.2rem;
}

.mb-3 {
    margin-top: 20px;
} */

/* pagina nosotros */

/* .main-nosotros {
    background-image: linear-gradient(180deg, black, rgb(124, 15, 15), black);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
}

.nosotros img {
    width: 300px;
    height: auto;
    display: flex;
    margin: 15px;
}

.nosotros h3 {
    font-size: 2rem;
    padding-top: 30px;
} */

/* .nosotros .imagen-principal {
    width: 70%;
} */

/* .nosotros p {
    margin: 20px 0px 30px 0px;
    width: 75%;
} */



/* pagina esports */

/* .esports {
    background-image: linear-gradient(180deg, black, rgb(124, 15, 15), black);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
} */

/* .esports .imagen-principal img {
    width: 70%;
    height: auto;
 } */
/*
.potg section div iframe {
    width: 375px;
    height: 225px;
} */

/* 3 grids areas que se comporten igual para responsive */

/* .jugadas-container-fighting,
.jugadas-container-moba,
.jugadas-container-shooter {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "uno dos tres";
    background-image: linear-gradient(135deg, rgb(83, 14, 194), black, rgb(67, 4, 167));
    border-radius: 10px;

}

.video-uno {
    grid-area: uno;
    margin: 10px
}

.video-dos {
    grid-area: dos;
    margin: 10px
}

.video-tres {
    grid-area: tres;
    margin: 10px
} */

/* esports -> torneos */

/* acordeon */

/* .accordion {

    width: 700px;
} */


/* .accordion-item h2 button {
    background-image: linear-gradient(90deg, gray, white, gray);
    text-align: center;
}

.accordion-item h2 {
    margin: 20px 0 0 0;
} */

/* .accordion-body {
    padding: 0 20px;
} */

/* button img {
    width: 50px;
    margin-right: 10px;
} */

/* .torneo-acordion-nombre {
    color: black;
    text-align: center;
    font-size: 2rem;
    margin: 0 50px;
} */

/* grid de primera partes acordeon */

/* .container-torneo-uno {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-areas:
        "fase fase fase"
        "team-uno . team-cinco"
        "team-dos versus team-seis"
        "team-tres versus team-siete"
        "team-cuatro . team-ocho";
    background-image: linear-gradient(90deg, white, gray, white);
}

/* grid segunda parte acordeon */

/* .container-torneo-dos {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-areas:
        "fase fase fase"
        "team-uno . team-cinco"
        ". versus ."
        ". versus ."
        "team-cuatro . team-ocho";
    background-image: linear-gradient(90deg, white, gray, white);
}  */

/* .acordion-grilla-fase {
    grid-area: fase;
    color: black;
}

.grilla-nombre-uno {
    grid-area: team-uno
}

.grilla-nombre-dos {
    grid-area: team-dos
}

.grilla-nombre-tres {
    grid-area: team-tres
}

.grilla-nombre-cuatro {
    grid-area: team-cuatro
}

.grilla-vs {
    grid-area: versus;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grilla-vs p {
    font-size: 2rem;
}

.grilla-nombre-cinco {
    grid-area: team-cinco
}

.grilla-nombre-seis {
    grid-area: team-seis
}

.grilla-nombre-siete {
    grid-area: team-siete
}

.grilla-nombre-ocho {
    grid-area: team-ocho
} */

/* .container-torneo-uno div img,
.container-torneo-dos div img {
    width: 50px;
    margin: 5px;
} */

/* .container-torneo-uno div p,
.container-torneo-dos div p {
    color: black;
} */

/* equipos del lado izquierdo */

/* .izquierdo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 5px 0;
}

/* equipos del lado derecho */

/* .derecho {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;

    margin: 5px 0;
} */ 

/* pagina galeria */


/* .galeria {
    background-image: linear-gradient(180deg, black, rgb(124, 15, 15), black);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
} */

/* .galeria p {
    padding: 0 10px;
}

.galeria img {
    width: 70%;
}

/* ajusto imagenes del carrusel */

/* .carrousel-galeria {
    width: 700px;
    margin-bottom: 20px;
}

.fotos-galeria img {
    height: 500px;
} */ */

/* comienzo media querys */


@media (max-width: 1200px) {


    /* index video*/

    .imagen-principal video {
        width: 95%;
    }

    /* index grid noticias */

    .noticias-container {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 2fr 2fr;
        grid-template-areas:
            "not-uno not-dos"
            "not-tres not-cuatro"
            "not-cinco not-seis"
            "aside-uno aside-uno"
    }

    .proximos-lanzamientos-titulo {
        display: block;
        width: 100%;
    }

    .proximos-lanzamientos {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    /* esports */

    .jugadas-container-fighting,
    .jugadas-container-moba,
    .jugadas-container-shooter {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "uno dos"
            "tres tres";
    }


    /* galeria */

    .fotos-galeria img {
        height: 400px;
    }

    .carrousel-galeria {
        width: 500px;
    }
}

@media (max-width: 1030px) {


    h1 {
        font-size: 4rem;
        top: 60px;
    }

    /* index grid noticias */

    .noticias-container {
        display: grid;
        grid-template-rows: 3fr 3fr 3fr 3fr 3fr 3fr;
        grid-template-columns: 4fr 1fr;
        grid-template-areas:
            "not-uno aside-uno"
            "not-dos aside-uno"
            "not-tres aside-uno"
            "not-cuatro aside-uno"
            "not-cinco ."
            "not-seis ."
    }

    .proximos-lanzamientos {
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
    }

    /* contacto */
    .formulario {
        width: 75%;
    }

    /* esports */

    .video-uno {

        margin-left: 0px
    }

    .video-dos {

        margin-right: 0px
    }


}

@media (max-width: 770px) {

    h1 {
        font-size: 3rem;
        top: 0px;
    }

    /* index video*/

    .imagen-principal video {
        width: 100%;
        height: auto;
    }

    /* index grid noticias */

    .noticias-container {
        display: grid;
        grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "not-uno"
            "not-dos"
            "not-tres"
            "not-cuatro"
            "not-cinco "
            "not-seis "
            "aside-uno"
    }

    .proximos-lanzamientos-titulo {
        display: block;
        width: 100%;
    }

    .proximos-lanzamientos {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: first baseline;
        flex-wrap: wrap;
    }

    /* esports */

    .jugadas-container-fighting,
    .jugadas-container-moba,
    .jugadas-container-shooter {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "uno"
            "dos"
            "tres";
    }

    .video-uno {
        grid-area: uno;
        margin: 10px
    }

    .video-dos {
        grid-area: dos;
        margin: 10px
    }

    .potg section div iframe {
        width: 400px
    }

    .accordion {

        width: auto;

    }

    /* sub seccion analisis */

    .revieww {
        text-align: center;
    }

    /* galeria */

    .fotos-galeria img {
        height: 300px;
    }

    .carrousel-galeria {
        width: 400px;
    }
}

@media (max-width: 675px) {

    /* index grid noticias */

    .noticias-container {
        grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr 3fr;

    }

    .proximos-lanzamientos {
        height: 600px;
        flex-direction: column;
        align-items: center;
    }

    footer img {
        width: 30px;

    }

    /* galeria */

    .galeria img {
        width: 100%;
        height: auto;
    }

    .fotos-galeria img {
        height: 220px;
    }

    .carrousel-galeria {
        width: 350px;
    }

    /* nosotros */

    .nosotros .imagen-principal {
        width: 100%;
        margin-top: 0;
    }

    /* contacto */

    .carrusel-contacto {
        width: 100%;
    }

    /* esports */

    .esports .imagen-principal img {
        width: 100%;
    }

}

@media (max-width: 426px) {

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    /* index */

    .imagen-principal video {
        width: 100%;
        height: auto;
    }

    .noticias-container {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 2fr;

    }

    .proximos-lanzamientos {
        height: 700px;
    }

    /* galeria */


    

    .carrousel-galeria {
        width: 100%;
        padding: 75px 10px;
    }

    .fotos-galeria img {
        height: 180px;
    }

    /* nosotros */

    .nosotros iframe {
        width: 85%;
    }

    /* contacto */

    .carrusel-contacto {
        width: 100%;
    }

    .formulario{
        width: 95%;
    }

    /* esports */

    .potg section div iframe {
        width: 95%;
        height: auto;
    }

    .potg h3 {
        font-size: 1.5rem;
    }

    .accordion {

        width: 100%;

    }


}